.ArticleContainer{
  display: flex;
  height: 200px;
  width: auto;
  overflow: hidden;
}


.ArticleTextContainer{
    padding: 20px;
    margin: 20px;
}

.ArticleThumbnail {
  width: 300px;
  height: auto;
  border-radius: 8px;
}

.spacer {
  display: inline-block;
  width: 2rem; /* or any width you like */
}