#root {
  width: 100%;
  text-align: center;
  background-color: #252525;
  --button-color: #2edbdbde;
  --ArticleBGColor: #50505046;
  --strength-color: #e74c3c;
  --agility-color: #27ae60;
  --intelligence-color: #2980b9;
}

.flexColumn{
  display: flex;
  flex-direction: column;
}

.testingFrame > *{
  border: 1px solid red;
}

.flexRow{
  display: flex;
  flex-direction: row;
}

.center-content{
  display: flex;
  justify-content: center;
  align-items: center;
}

.HeaderPosition{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 65px;
  padding-bottom: 62px;
}

.NavbarPosition{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.OutletPosition{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.FooterPosition{
  display: flex;
  flex-direction: column;
  height: 6rem;
}

.featherBG{
  border-radius: 100%;
  stroke: 20px;
  position: relative;
  filter: blur(8px);
}

