#root {
  max-width: 100%;
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #222222;
  --button-color: #70d3d398;
}



.HeaderPosition{
  display: flex;
  flex-direction: column;
  height: 20%;
}

.NavbarPosition{
  display: flex;
  flex-direction: column;
  height: 10%;
}

.OutputPosition{
  display: flex;
  flex-direction: column;
  height: 70%;
}

.FooterPosition{
  display: flex;
  flex-direction: column;
  height: 6rem;
}

.featherBG{
  border-radius: 100%;
  stroke: 20px;
  position: relative;
  filter: blur(8px);
}

