.FooterBase{
    position: relative;
    background-color: #292929;
    color: white;
    padding: 20px;
    text-align: center;
}

.esrbBox p{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px;
    font-size: 13px;
    font-weight: bold;
}

.esrbLogo{
    height: 100px;
    margin-right: 10px;
}