.navbarClass{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: solid 5px rgb(255, 255, 255);
    font-size: 20px;
}

.buttonClass{
    color: white;
    width: 25%;
    height: 30px;
    margin: 0px 2px 2px 2px;
    transition: ease 0.3s;
}

.buttonClass:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 25%;
    height: 30px;
    margin: 0px 2px 2px 2px;
    transition: ease 0.3s;
}
