.navbarClass{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: solid 5px black;
    font-size: 20px;
}

.buttonClass{
    color: white;
    width: 25%;
    height: 30px;
    margin: 0px 2px 2px 2px;
    border-bottom: 5px solid black ;
    transition: ease 0.3s;
}

.buttonClass:hover{
    background-color: var(--button-color);
    color: rgb(78, 234, 255);
    width: 25%;
    height: 30px;
    margin: 0px 2px 2px 2px;
    transition: ease 0.3s;
}
