.headerMain{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 120px;
    padding: 10px;
    background-color: #161616;
    border-bottom: solid 2px var(--button-color);
    box-shadow: 15 44px 18px rgba(0, 0, 0, 0.1);
}

.DownloadButtonContainer{
    margin-left: auto;
}

.header-logo{
    width: auto;
    height: 100px;
    filter: brightness(90%);
    transition: 0.3s ease;
}

.header-logo:hover{
    transform: scale(1.01);
    filter: brightness(110%);
}