.learn-roles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
}

.l2pContent{
    display: flex;
    flex-direction: row;
    height: auto;
}

@media (max-width: 600px) {

}


.roles-header {
    font-family: 'Courier New', Courier, monospace;
    
}

.RoleHeaderDisc{
    font-family: "Bebas Neue", sans-serif;
    font-size: 18px;
    margin-top: 10px;
    text-align: left;
    margin: 0px 20px 20px 20px;
    
}

.learnRolestitle{
    font-size: 42px;
    font-family: "Bebas Neue", sans-serif;
    margin: 0px 0px 0px 20px;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 5px #05050557, 0px 0px 10px #080808, 0px 0px 20px #0f0f0f52;
}

.rolesContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 330px;
    height: 450px;
    padding: 10px;
    margin: 2%;
    color: white;
    border: solid #05ddcb 2px;
    box-shadow: var(--neon-glow);
    border-radius: 0px 0px 15px 15px;
    overflow: hidden;
    transition: transform 0.3s ease;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

.rolesContainer:hover{
    border: solid #05ddcb 2px;
    transition: transform 0.3s ease;
    transform: scale(1.08);
}

.rolesHover{
    display: inline-block;
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
    color: #ffffff;
    animation: pulseGlow 10s infinite;
}


.rolesTextContainer{
    display: flex;
    flex-direction: column;
    padding: 1%;
    margin: 1%;
}

.roleTitleContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0px 0px 5px #05050557, 0px 0px 10px #080808, 0px 0px 20px #0f0f0f52;
    margin: 0px 0px 0px 0px;
}

.rolesTitle{
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    font-size: 65px;
    margin: 5px 5px 0px 0px;
}

.rolesDisc{
    text-align: left;
    text-wrap: wrap;
    font-size: 16px;
}

.roleCrest{
    width: 70px;
    height: 70px;
    padding: 2%;
    margin: 4px;
    border-radius: 75px;
    border: solid #05ddcb 2px;
    box-shadow: var(--neon-glow);
}

@keyframes pulseGlow {
    0%, 100% {
        text-shadow: 0 0 14px rgba(255, 255, 255, 0.7);
    }
    50% {
        text-shadow: 
            0 0 10px var(--neon-glow-color, #00f2ff), 
            0 0 15px var(--neon-glow-color, #00f2ff),
            0 0 20px var(--neon-glow-color, #00f2ff);
    }
}