@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.commanders{
  display: flex;
  flex-direction: column;
  padding-top: 20px
}

.commanderContainer{
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  padding: 20px;

}

.CommanderRenderMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 50px;
    
}

.name{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0px;
    padding: 0px;
    color: #ffffff;
    font-size: 50px;
    opacity: 0;
    animation: fadeInLeft 1s ease-out forwards;
}

.attributeIcon{
    width: 80px;
    height: 80px;
    margin-right: 5px;
}

.CommanderNamePlate{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 10px;
    padding: 20px;
}

.title{
    font-size: 120px;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    margin-top: -50px;
    margin-bottom: -45px;
    padding: 0px;
    opacity: 0;
    animation: fadeInLeft 1s ease-out forwards;

}

.CommanderRenderSecond{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #ffffff;
}

.DisplayImage{
    width: 700px;
    height: auto;
    animation: fadeIn 1s ease-out forwards;
}

.CommanderSideProfile{
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.abilityContainer{
  display: flex;
  flex-direction: column;
  margin-top: 4%;
  margin-left: 10%;
}

.AbilityBox {
  display: block;
  width: 100%;
  min-width: 600px;  
  box-sizing: border-box;
  margin: 20px;
  animation: fadeIn 1s ease-out forwards;
  overflow: visible;
}

.PrimaryStat{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 35px;
    color: #ffffff;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.Ability {
  width: 800px;
  min-width: 800px;
  max-width: 800px;
  box-sizing: border-box;
  margin: 2px auto;
  padding: 2%;
  background-color: #252525;
  background: linear-gradient(to right, rgba(255,255,255,0.10) 0%, rgba(255,255,255,0) 88%);

}

.abilityTitle{
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    margin: 0px;
    padding-left: 1%;
    font-weight: bold;
}

.abilityText{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 16px;
    color: #ffffff;
    text-align: left;
    margin: 0px;
    padding-left: 2%;
}


.abilityInfo{
  text-align: left;
  margin: 1%;
}

.abilityThumbnail{
    width: 80px;
    height: auto;
    border: solid 1px rgb(174, 232, 240);
}

  .DifficultyIcon{
    width: 55px;
    height: auto;
    transition: transform 0.3s ease;
  }

  .DifficultyIcon:hover {
    animation: zoomWiggle 0.6s ease forwards;
  }
  
  @keyframes zoomWiggle {
    0% {
      transform: scale(1) rotate(0deg);
    }
    10% {
      transform: scale(1.05) rotate(0deg);
    }
    20% {
      transform: scale(1.05) rotate(5deg);
    }
    30% {
      transform: scale(1.05) rotate(-5deg);
    }
    40% {
      transform: scale(1.05) rotate(3deg);
    }
    50% {
      transform: scale(1.05) rotate(-3deg);
    }
    60% {
      transform: scale(1.05) rotate(2deg);
    }
    100% {
      transform: scale(1.05) rotate(0deg);
    }
  }
  
  .logo{
    width:440px;
    height: auto;
}

.roster{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px;
}

.heroFrame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 200px;
    height: 350px;
    padding: 10px;
    font-size: 12px;
    font-style: italic;
    white-space: nowrap;
    transition: ease 0.3s;
    cursor: pointer;
    transition: opacity 0.5s ease;
}

.characterDescription{
  text-align: left;
  font-style: italic;
  font-size: 16px;
  color: #ffffff;
  margin: 20px;
}

.splashArt{
    display: block;
    object-fit: cover;
    width: 200px;
    height: 300px;
    border: solid 1px rgb(174, 232, 240);
}

.splashArt:hover{
    display: block;
    object-fit: cover;
    width: 210px;
    height: 300px;
    border: solid 1px rgb(174, 232, 240);
    transition: ease 0.3s;
    box-shadow: 0 0 10px rgba(0, 238, 255, 0.5);
}

.comList{
    transform-style: preserve-3d;
    transform: perspective(5000px);
}

.comList .comImg{
    transition: .5s;
    filter: brightness(0.5);
}

.comList .comImg:hover{
    filter: brightness(1);
    transform: translateZ(100px);
}

.hoverTitle {
    position: absolute;
    top: 50%;
    transform: translate(0%, 400%);
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.heroFrame:hover .hoverTitle {
    display: block;
    opacity: 1;
    color: white;
    transition: opacity 0.3s ease;
    background: linear-gradient(to top, #000000, #feb47b00);
    width: 90%;
}

.fade-slide-up {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeSlideUp 1s ease-out forwards;
  }
  
  @keyframes fadeSlideUp {
    0% {
      opacity: 0;
      transform: translateY(25px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
.CharacterRenderFont{
    font-family: "Bebas Neue", sans-serif;
}

.statsText{
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
    color: #ffffff;
    text-align: center;
    margin: 0px;
    padding: 0px;
  }

  .statRenderBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin: 2px;
    padding: 5px;
  }

  .Bio{
    font-family: "Bebas Neue", sans-serif;
    font-size: 60px;
    margin: 0px;
    padding: 0px;
    border-bottom: 2px solid #ffffff;
  }

  .BioFrame{
    display: flex;
    text-align: left;
    margin-bottom: 10px;
    padding: 20px;
    border-bottom: 2px solid #ffffff;
  }

  @keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

  @keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;

  }
}