@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.CommanderRenderMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 50px;
    
}

.name{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0px;
    padding: 0px;
    color: #44eeee;
}

.attributeIcon{
    width: 40px;
    height: auto;
    margin-right: 5px;
}

.CommanderNamePlate{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
}

.title{
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.CommanderRenderSecond{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
        border: 1px solid #ffffff;
}

.DisplayImage{
    width: 300px;
    height: auto;
}
.abilityRenderGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 35px;
    grid-row-gap: 1px;
}

.abilityTitle{
    
}

.abilityInfo{

}

.abilityThumbnail{
    width: 80px;
    height: auto
}

.abilityVideo{

}



  .DifficultyIcon{
    width: 50px;
    height: 50px;
    margin: 3px;
    transition: transform 0.3s ease;
  }

  .DifficultyIcon:hover {
    animation: zoomWiggle 0.6s ease forwards;
  }
  
  @keyframes zoomWiggle {
    0% {
      transform: scale(1) rotate(0deg);
    }
    10% {
      transform: scale(1.05) rotate(0deg);
    }
    20% {
      transform: scale(1.05) rotate(5deg);
    }
    30% {
      transform: scale(1.05) rotate(-5deg);
    }
    40% {
      transform: scale(1.05) rotate(3deg);
    }
    50% {
      transform: scale(1.05) rotate(-3deg);
    }
    60% {
      transform: scale(1.05) rotate(2deg);
    }
    100% {
      transform: scale(1.05) rotate(0deg);
    }
  }
  
  .logo{
    width:440px;
    height: auto;
}

.roster{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px;
}

.heroFrame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 200px;
    height: 350px;
    padding: 10px;
    font-size: 12px;
    font-style: italic;
    white-space: nowrap;
    transition: ease 0.3s;
    cursor: pointer;
    transition: opacity 0.5s ease;
}


.splashArt{
    display: block;
    object-fit: cover;
    width: 200px;
    height: 300px;
    border: solid 1px rgb(174, 232, 240);
}

.splashArt:hover{
    display: block;
    object-fit: cover;
    width: 210px;
    height: 300px;
    border: solid 1px rgb(174, 232, 240);
    transition: ease 0.3s;
    box-shadow: 0 0 10px rgba(0, 238, 255, 0.5);
}

.comList{
    transform-style: preserve-3d;
    transform: perspective(5000px);
}

.comList .comImg{
    transition: .5s;
    filter: brightness(0.5);
}

.comList .comImg:hover{
    filter: brightness(1);
    transform: translateZ(100px);
}

/* .comList .comImg:hover + *{
    filter: brightness(0.6);
    transform: translateZ(150px) rotateY(40deg);
}

.comList .comImg:hover + * + *{
    filter: brightness(0.8);
    transform: translateZ(70px) rotateY(20deg);
}

.comList .comImg:hover + * + * + *{
    filter: brightness(0.9);
    transform: translateZ(30px) rotateY(10deg);
}

.comList .comImg:has(+ *:hover){
    filter: brightness(0.6);
    transform: translateZ(150px) rotateY(-40deg);
}

.comList .comImg:has(+ * + *:hover){
    filter: brightness(0.6);
    transform: translateZ(70px) rotateY(-20deg);
}

.comList .comImg:has(+ * + * + *:hover){
    filter: brightness(0.6);
    transform: translateZ(30px) rotateY(-10deg);
} */

.hoverTitle {
    position: absolute;
    top: 50%;
    transform: translate(0%, 400%);
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.heroFrame:hover .hoverTitle {
    display: block;
    opacity: 1;
    color: white;
    transition: opacity 0.3s ease;
    background: linear-gradient(to top, #000000, #feb47b00);
    width: 90%;
}

.fade-slide-up {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeSlideUp 1s ease-out forwards;
  }
  
  @keyframes fadeSlideUp {
    0% {
      opacity: 0;
      transform: translateY(25px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
.CharacterRenderFont{
    font-family: "Bebas Neue", sans-serif;
}

.statsText{
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    margin: 0px;
    padding: 0px;
  }

  .statRenderBox{
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 10px;
  }

  .Bio{
    font-family: "Bebas Neue", sans-serif;
    font-size: 60px;
    margin: 0px;
    padding: 0px;
  }

  .BioFrame{
    display: flex;
    text-align: left;
    margin-bottom: 10px;
    padding: 20px;
  }