.errorContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    background-color: #1b282c;
    color: white;
    text-align: center;
}

.errorTitle{
    font-size: 48px;
    margin-bottom: 0px;
    font-weight: bold;
    font-family: "Bebas Neue", sans-serif;
    text-shadow: 0px 0px 5px #05050557, 0px 0px 10px #080808, 0px 0px 20px #0f0f0f52;
}

.errorMessage{
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}

.errorImage{
    width: 300px;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
}