.gameFlowBG{
    width: 100%;
    height: 100%;
    padding: 50px 00px 50px 0px;
}

.gameFlowContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.gameFlowStageTitle{
    font-size: 38px;
    font-weight: bold;
    font-family: "Bebas Neue", sans-serif;
    margin: 10px 0px 0px 0px;
    text-shadow: 0px 0px 5px #05050557, 0px 0px 10px #080808, 0px 0px 20px #0f0f0f52;
}

.gameFlowStageDisc{
    font-size: 18px;
    margin-top: 10px;
    text-align: left;
    margin: 0px 20px 20px 20px;
}

.gameFlowContentContainer{
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding: 1%;
    margin: 1%;
}

.gameFlowVisualContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: auto;
    color: white;
    margin: 0px 50px 0px 0px;
    box-shadow: var(--neon-glow);
    border-radius: 25px;
}

.roleButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    width: 300px;
    gap: 20px;
    margin-top: 20px;
}

.roleButtons img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
}

.roleButtons button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0px;
    margin: 0px 10px 0px 0px;
    border-radius: 75px;
    box-shadow: var(--neon-glow);
    transition: transform 0.2s ease-in-out;
}

.roleButtons button:hover{
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}